body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 170px;
    float: left;
}

aside .logo {
    font-size: 30px;
    margin-left: 10px;
    float: right;
    font-weight: bold;
}

aside h3 {
    margin-top: 200px;
    font-size: 25px;
}

aside ul {list-style: none}
aside ul a {
    text-decoration: none;
}
aside ul li {
    color: #009700;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover , aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px; text-align: center;}
main .features p {max-width: 400px; margin: 20px auto;}

.game-link h4 {
    color: #ffffff;
    text-decoration: none;
}

main .staff {
    float: right; 
    height: 35px; 
    width: 35px;
}
.alert-warning {
    clear: both;
    width: 200px;
    height: 300px;
    margin: 10px;
    text-align: center;
    display: inline-flex;
}

#gameMore {
    display: block;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}